html{
	font-size:100px;
	font-family: my;
	min-width: 14.47rem;
}
*{
	margin:0;
	padding: 0;
}
.auto{
	margin: 0 auto;	
}
.center{
	text-align: center;
}
.block{
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	text-decoration: none;
}
@font-face{
	font-family: my;
	src:url(../css/方正兰亭黑简.woff) format('woff'),
		url(../css/方正兰亭黑简.TTF) format('truetype');
}
@font-face{
	font-family: content;
	src:url(../css/方正兰亭超细黑简体.woff) format('woff'),
		url(../css/方正兰亭超细黑简体.TTF) format('truetype');
}.container{
	width: 19.20rem;
	margin: 0 auto;
}
nav{
	width: 100%;
	height: 0.91rem;
	/*line-height: 0.91rem;*/
	background-color: #ffffff;
	text-align: center;
}
.nav_logo img{
	width: 2.23rem;
	height: 0.52rem;
	margin-top: .195rem;
}
nav>a{
	display: inline-block;
	margin: 0 .33rem;
	font-size: .26rem;
	line-height: .91rem;
	vertical-align: top;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.center{
	text-align: center;
}
.aboutusbox{
	width: 100%;
	background-image: url(../image/bg-01.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: .58rem;
}
.box{
	width: 14.47rem;
	font-size: 0.4795rem;
	margin-bottom: 1rem;
}
.abouttitle{
	width: 14.47rem;
	margin-bottom: 1.5rem;
}
.titleup{
	font-size: 0.2rem;
	color: #5c5c5c;
	font-family: content;
	margin-bottom: 0.2rem;
	font-weight: bold;
	color: #fbf204;
}
.purpose{
	font-weight: bold;
	font-size: 0.4rem;
	margin-bottom: 0.15rem;
	color: #fff;
}
.title{
	height: 0.5rem;
	margin-bottom: 0.63rem;
}
.content{
	color: #222;
	font-size: 0.35rem;
	margin-bottom: 0.35rem;
	font-style: italic;
	margin-top: 0.3rem;
}
.content_white{
	color: #eee;
}
.content1{
	font-family: content;
	font-weight: bold;
	font-size: 0.25rem;
	color: #6e6e6e;
	margin-bottom: 0.2rem;
	font-style: italic;
}
.content_top{
	color: #ccc;
}
.last{
	font-size: 0.25rem;
	color: #5c5c5c;
}
.picbox{
	width: 9rem;
	height: 5rem;
	margin-top: 0.5rem;
}
.picbox1{
	width: 4rem;
	height: 3.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
em{
	color: #333;
	font-family: my;
}
.picbox1 img{
	width: 100%;
	height: 100%;
}
.picbox img{
	width: 100%;
	height: 100%;
}
.foot{
	min-width: 14.77rem;
	padding-bottom: 0.57rem;
	
}
.foot p{
	font-size: 0.12rem;
	color: #afafb3;
}
.foot p:first-child{
	margin-bottom: 0.2rem;
}
.totop{
	width:0.63rem;
	height:1.47rem;
	position:fixed;
	bottom:0.21rem;
	right:0.21rem;
	z-index: 100;
}

.totop .public a{
	color:#29b572;
	font-size:0.1rem;
	text-align:center;
	background:#fff;
	width:0.63rem;
	height:0.819rem;
}

.totop .public a img{
	width: 70%;
	height: 40%;
	margin:0 0.1rem 0.1rem;
	padding-top:0.168rem;
}

.totop .returntop{
	cursor:pointer;
	width:0.63rem;
	height:0.672rem;
	border:0;
	background:url(http://www.jingyingba.com/Public/Home/images/returntotop.png) center no-repeat #29b572
	}
.totop .publicimg{
	width:1.911rem;
	height:1.806rem;
	left:-2.1rem;
	top:-0.21rem;
	position:absolute;
	border:none;
	display:none
}
.totop .publicimg img{
	width: 100%;
	height: 100%;
}